{erl_opts, [debug_info]}.
{deps, 
[{erlang_k8s_cluster, {git, "https://github.com/myErlangProjects/erlang_k8s_cluster.git", {branch, "main"}}},
 {erlzk, {git, "https://github.com/huaban/erlzk.git", {branch, "master"}}}]
}.

%% == Releases ==

{relx, [{release, {incremental_rebalance, "0.0.1"},
         [ 
         kernel,
         stdlib, 
         sasl,
         erlzk,
         erlang_k8s_cluster,
         incremental_rebalance]},
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {extended_start_script, true},
        {vm_args_src, "config/vm.args.src"},
        {sys_config_src, "config/sys.config.src"}]}.
%% == Shell ==

%% apps to auto-boot with `rebar3 shell'; defaults to apps
%% specified in a `relx' tuple, if any.

{shell, [
  % {config, "config/sys.config"},
    {apps, [incremental_rebalance]}
]}.

{dist_node, [
    {setcookie, 'erlang.k8s.cluster'},
    {sname, 'incremental_rebalance'}
]}.

%% == Directories ==
{root_dir, "."}.